<div>
  <h4>Rentals</h4>
  <div class="rentals">
    <ng-container *ngFor="let rental of rentals$ | async">
      <mat-card>
        <mat-card-content>
          <img [src]="rental.imageUrl" alt="">
          <button *ngIf="isInCart(rental); else rent" (click)="removeFromCart(rental)">
            Remove from Cart
          </button>
          <ng-template #rent>
            <button (click)="addToCart(rental)">Rent</button>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
